<%= form_with(model: @invoice, remote: true, class: "new-article-form") do |form| %>
<% if user_signed_in? %>
<%= form.hidden_field :user_id, required: true, value: current_user.id, class: "form-control"%>
<% end %>
<div class="card-body">
  <%= form.label :title %>
  <%= form.text_field :title, placeholder: default_title, class: "form-control" %>
</div>
<div class="card-body">
  <%= form.label :description %>
  <%= form.text_area :description, class: "form-control" %>
</div>
<div class="card-body">
  <%= form.label :category %><br>
  <%= form.select :category, options_for_select(Invoice::DEFAULT_CATEGORY, form.object.category),
        {include_blank: true},
        required: true, class: "custom-select" %>
</div>
<div class="card-body">
  <%= form.label :amount %> $
  <%= form.text_field :amount, class: "form-control", required: true %>
</div>
<div class="card-body">
  <%= form.label :spent_in %>
  <%= form.text_field :created_at, class: "form-control", type: "datetime" %>
</div>
<div class="card-body">
  <%= form.label :public %>
  <%= form.check_box :public,  checked: @invoice.public? || form.object.public?, class: "form-control" %>
</div>
<div class="card-body">
  <%= submit_tag "✉️ Submit", class: "btn btn-primary" %>
  <%= link_to  "Cancel", invoices_path,  title: 'Click to remove', class: "btn btn-secondary cancel-icon" %>
</div>
<% end %>
</div>
