<div class="card mt-4 mx-auto">
  <div class="card-body">
    <h3 class="card-title text-center">You're Invoices</h3>
    <div class="text-right">
      <a class="btn btn-success" href="<%= new_invoice_path %>">Add new</a>
    </div>
    <table class="table mt-4" id="articles">
      <thead>
        <tr role="row">
          <th></th>
          <th>Title</th>
          <th>Description</th>
          <th>Category</th>
          <th>Amount</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @invoices.each_with_index do | invoice, i| %>
          <tr>
            <td>
              <b><%= get_row_number(@invoices.current_page, i) %><b>
            </td> 
            <td><b><%= link_to invoice.title, invoice, title: "Click to show more information" %><b></td>
            <td><%= invoice.description %></td>
            <td><%= invoice.category %></td>
            <td>$<%= invoice.amount %></td>
            <td><%= invoice.created_at.strftime("%B %d, %Y") %></td>
            <td><%= link_to 'Remove', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-right"><%= will_paginate @invoices, previous_label: "Older", next_label: "Newer"%></div>
  </div>
</div>
