<div class="card mt-4 mx-auto">
  <div class="card-body mb-10">
    <h3 class="card-title text-center">You're last <%= @invoices.size > 10 ? 10 : @invoices.size %> Invoices</h3>
    <div class="text-right">
      <%= link_to 'Add new', new_invoice_path,  {:remote => true,
                                                 'data-toggle' =>  "modal",
                                                 'data-target' => '#modal-window',
                                                 class: 'btn btn-success add-new-icon'}  %>

      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog text-left" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
    </div>
    <table class="table mt-4" id="invoices_table">
      <thead>
        <tr role="row">
          <th></th>
          <th class="sorting" data-name="title"><%= sortable "title" %></th>
          <th class="sorting" data-name="description"><%= sortable "description" %></th>
          <th class="sorting" data-name="category"><%= sortable "category" %></th>
          <th class="sorting" data-name="amount"><%= sortable "amount" %></th>
          <th class="sorting sorting_desc" data-name="created_at"><%= sortable "created_at" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="invoices">
        <% @invoices.each_with_index do | invoice, i | %>
        <%= render partial: "invoice_for_index", locals: {invoice: invoice, i: i} %>
        <% end %>
      </tbody>
    </table>
    <table class="table" id="spending">
      <tbody>
        <tr>
          <td>Spending:</td>
          <td>Last Year: $<%= count_year_spend %></td>
          <td>Last Month: $<%= count_month_spend %></td>
          <td class="showed_periond">Showed Period: $<b><%= count_showed_spend %></b></td>
        </tr>
      </tbody>
    </table>
    <div class="text-right"><%= will_paginate @invoices, class: "btn btn-info text-dark btn-sm color-black"%></div>
  </div>
</div>
