<% user_id = !user_signed_in? || current_user.id %>
<% if @invoice.user_id == user_id || @invoice.public? then %>
<div class="card bg-light mt-4 mx-auto w-50">

  <div class="card-header bg-white">
    <b>
      Invoice â„–<%= @invoice.id %>, created <%= time_ago_in_words(@invoice.created_at) %> ago
    </b>
  </div>

  <div class="card-body">
    <p class="card-text">
      Title: <b><%= @invoice.title %></b>
    </p>
    <p class="card-text">
      Description: <b><%= @invoice.description %></b>
    </p>
    <p class="card-text">
      Category: <b><%= category_style(@invoice.category) %></b>
    </p>
    <p class="card-text">
      Amount: $ <b><%= @invoice.amount %></b>
    </p>
    <p class="card-text">
      Spendet in: <b><%= @invoice.created_at %></b>
    </p>
  </div>

  <p class="mx-auto">
    <% if @invoice.user_id == user_id then %>
      <% if @invoice.public then %>
        <button class="btn btn-success btn-sm" onclick="copyToClipboard()">ðŸ”— Copy link</button>
      <% end %>
    <%= link_to  "ðŸ—‘ï¸ Delete", invoice_path(@invoice),
                method: :delete,
                data: { confirm: 'Are you sure?'},
              class: "btn btn-danger btn-sm" %>
    <%= link_to " Edit", edit_invoice_path(@invoice), class: "btn btn-info btn-sm edit-icon" %>
    <%= link_to "All invoices", invoices_path, class: "btn btn-secondary btn-sm" %>
  </p>
  <% else %>
  <div class="card-footer text-center mb-2">Created by user:
    <b><%= @invoice.user.email[/[^@]+/]%></b>
  </div>
  <% end %>
</div>
<%= javascript_include_tag "invoices.js" %>

<% else %>
<div class="card bg-light mx-auto w-50 mt-4">
  <div class="card-body text-center">
    <div class="alert alert-danger" role="alert">
      You are not authorized to get this information!
    </div>
  </div>
</div>
<% end %>
